// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: $bg-color-dark;
  &__text {
    color: $text-color-light;
    font-size: .7em;
    font-weight: 500;
    padding: 40px 0;
    @include mobile {
      padding: 34px 0;
    }
  }
}
