// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
$text-font-stack: 'Raleway', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Decorative font family
$decor-font-stack: 'Millunium Medium', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Copy text color
$text-color-dark: #333;

/// Copy text color
$text-color-light: #fff;

/// Copy text color
$text-color-gray: #7f7f7f;

/// Main brand color
$brand-color: #3fae49;

/// Dark background color
$bg-color-dark: #1e3066;

/// Light background color
$bg-color-light: #f5f5f5;

/// Container's maximum width
$max-width: 1230px;

/// Relative or absolute URL where all assets are served from
$base-url: '../../assets/';

/// RWD resolutions
$screen-mobile: 520px;
$screen-tablet: 768px;

