// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.form {
  &__row {
    margin: 25px 0 0;
    width: 100%;
    @include mobile {
      margin: 17px 0 0;
      &.display-flex {
        flex-direction: column;
      }
    }
    textarea {
      width: 100%;
      height: 105px;
      border: 1px solid #bababa;
      padding: 15px;
      font-size: .7em;
      background-color: $bg-color-light;
      resize: none;
      border-radius: 2px;
      &:placeholder {
        color: $text-color-gray;
      }
    }
  }
  &__group {
    position: relative;
    margin: 17px 10px 0 0;
    width: 100%;
    flex:1;
    &:last-of-type {
      margin-right: 0;
    }
    input {
      border: none;
      border-bottom: 1px solid #c2c2c2;
      width: 100%;
      background-color: transparent;
      font-size: .8em;
      &:focus {
        outline: 0;
        border-color: $bg-color-dark;
      }
      &::placeholder{
        font-size: .87em;
        letter-spacing: 0.02em;
        color: $text-color-gray;
        position: relative;
        bottom: 5px;
      }
    }
    label {
      position: absolute;
      display: block;
      bottom: 10px;
      font-size: .7em;
      letter-spacing: 0.02em;
      color: $text-color-gray;
      pointer-events: none;
    }
  } 
}

.floating-label {
  position:  relative;
  label {
    position:  absolute;
    top: calc(50% - 17px);
    left:  0;
    opacity:  0;
    transition:  all .3s ease;
  }
  input:not(:placeholder-shown) + label {
    transform:  translateY(-10px);
    opacity:  .7;
  }
}
